<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config>
  <resourceDirectory/>
  <loginurl>https://account.lego.com/en-us/Signin.aspx?ReturnUrl=http%3a%2f%2fcity.lego.com%2fen-us%2fgames%2fconstruction.aspx</loginurl>
  <texturl>dialogue.xml</texturl>
  <tvclink>construction/tvclink.flv</tvclink>
  <productlink>http://city.lego.com/en-us/products</productlink>
  <enable>true</enable>
  <carrierService>
    <serviceUrl/>
    <localeId>1033</localeId>
    <awardCategory>CITYCCAT09</awardCategory>
    <awardCodes>
      <code1>CITYCG1</code1>
      <code2>CITYCG2</code2>
      <code3>CITYCG3</code3>
      <code4>CITYCG4</code4>
      <code5>CITYCG5</code5>
      <code6>CITYCG6</code6>
      <code7>CITYCG7</code7>
    </awardCodes>
  </carrierService>
</config>